<% if @user.errors.any? %>
  <div id="error_messages">
    <h2>Följande fel uppstod i formuläret:</h2>
    <ul>
      <% @user.error.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<fieldset>
<%= form_for @user do |f| %>
  <p><%= f.label :username %></p>
  <p><%= f.text_field_tag :username %></p>
  
  <p><%= f.label :email %></p>
  <p><%= f.email_field :email %></p>
  
  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>
  
  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>
  
  <p><%= f.submit "Registrera" %></p>
  
  <% end %>
</fieldset>